.main-section {
  height: 100vh;
  background-image: url('../imgs/photo-1534298261662-f8fdd25317db.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: bottom;
}

.fa-github-square {
  color: black;
}

.fa-linkedin {
  color: black;
}

.main-content {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.my-name {
  width: fit-content;
  font-family: Bookman;
  font-size: 80px;
  font-weight: bold;
}

.main-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin: 0;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -55%);
}

.links {
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.link {
  margin-left: 45px;
  margin-right: 45px;
  margin-top: 10px;
}

.outside-link {
  margin-left: 45px;
  margin-right: 45px;
}

.main-button {
  box-shadow: 0px 10px 14px -7px #132224;
  background: linear-gradient(to bottom, #294752 5%, #0c1112 100%);
  background-color: #294752;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  padding: 13px 32px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #142024;
}
.main-button:hover {
  background: linear-gradient(to bottom, #0c1112 5%, #294752 100%);
  background-color: #0c1112;
}
.main-button:active {
  position: relative;
  top: 1px;
}
