.navbar {
  position: fixed;
  top: 0;
  color: #c9ada7;
  padding: 10px;
  z-index: 9;
  width: 10vw;
}

.nav-link {
  background-color: #4a4e69;
  font-size: 30px;
  margin: 10px;
  padding: 5px;
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
}

.project-section {
  height: 125vh;
  background-color: #22223b;
}

.contact-section {
  height: 100vh;
  background-color: #22223b;
}
