body {
  background-color: #22223b;
}

.app {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

@media screen and (max-width: 600px) {
  .navbar {
    visibility: hidden;
    display: none;
  }
}

.navbar {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 50%;
  transform: translateY(-50%);
  color: #c9ada7;
  padding: 10px;
  z-index: 9;
  width: 10em;
  line-height: 2.5em;
  font-family: Bookman;
}

.nav-link {
  background-color: #4a4e69;
  margin-bottom: 40px;
  border: 2px solid #2a2c3b;
  border-radius: 5px;
  cursor: pointer;
  font-size: 30px;
}

.project-section {
  min-height: 100vh;
  background-color: #22223b;
  display: flexbox;
  flex-shrink: 0;
}

.contact-section {
  min-height: 40vh;
  background-color: #22223b;
}
