.navbar {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 50%;
  transform: translateY(-50%);
  color: #c9ada7;
  padding: 10px;
  z-index: 9;
  width: 10vw;
}

.nav-link {
  background-color: #4a4e69;
  font-size: 30px;
  margin-bottom: 40px;
  border: 2px solid #2a2c3b;
  border-radius: 5px;
  cursor: pointer;
}

.project-section {
  height: 125vh;
  background-color: #22223b;
}

.contact-section {
  height: 50vh;
  background-color: #22223b;
}
